.logo {
    height: 65px;
    width: 115px;
  }
  body {
    background-color: blue;
  }
  .info-wrapper a {
    color: white;
  }
  .connection {
    height: 55px;
    width: 160px;
    color: black;
    background: white;
  }
  .main-picture {
    height: 600px;
    width: 1195px;
  }
  .sidekic-picture {
    width: 219px;
    height: 219px;
}